= render :partial => 'commit', :locals => {:commit => @commit}

.row-fluid
  .span4
    - if @commit.previous
      = link_to [@project, @commit.previous], class: :btn do
        %i.icon-arrow-left
        prev
  .span4
    .btn-group
      %a.btn.dropdown-toggle(data-toggle="dropdown") Parents
      %a.btn.dropdown-toggle(data-toggle="dropdown")
        %span.caret
      %ul.dropdown-menu
        %li!= @commit.parents.map{|c| link_to(c.short_description, [@project, c]) }.join(" & ")
  .span4{style: 'text-align: right;'}
    - if @commit.next
      = link_to [@project, @commit.next], class: :btn do
        next
        %i.icon-arrow-right

%h3 Instances

%table.table.condensed.table-hover
  - @commit.project_instance_commits.each do |pic|
    %tr
      %td= pic.project_instance.name
      %td= pic.state
      %td= pic.created_at
      %td= link_to_longtext 'Preparation log', pic.preparation_log

%h3 Test suite runs

= render :partial => 'test_suite_runs/list', :locals => {:test_suite_runs => @commit.test_suite_runs.includes(:test_suite, :project_instance).order(:test_suite_id)}

%h3 Actions

= link_to rerun_all_children_project_commit_path(@project, @commit), method: :post, class: 'btn' do
  %i.icon-repeat
  Rerun all tests suites for this commit and all it's children

