= render :partial => 'commit', :locals => {:commit => @commit}


%table.no_border{:style => "width: 100%"}
  %tr
    %td
      - if @commit.previous
        .commit_prev
          = link_to "< prev", commit_path(@commit.previous)
    %td{:align => "middle"}
      .commit_parent
        parent:
        != @commit.parents.map{|c| link_to(c.short_description, commit_path(c)) }.join(" & ")
    %td
      - if @commit.next
        .commit_next
          = link_to "next >", commit_path(@commit.next)
%h2 Instances

%table{:style => "width: 100%"}
  - @commit.project_instance_commits.each do |pic|
    %tr
      %td
        = pic.project_instance.name
      %td
        = pic.state
      %td
        = pic.created_at
      %td
        = link_to_longtext 'preparation log', pic.preparation_log

%h2 Test suite runs

= render :partial => 'test_suite_runs/list', :locals => {:test_suite_runs => @commit.test_suite_runs.includes(:test_suite, :project_instance)}

%h2 Actions

%ul
  %li
    = link_to "Rerun all tests suites for this commit and all it's children", rerun_all_children_commit_path(@commit), :method => :post
