- if tsr.running? 
  = "-"
- else
  - if tsr.exitstatus
    %span.label.label-success PASSED
  - else
    %span.label.label-important FAILED

  - unless tsr.tests_count.nil? && tsr.assertions_count.nil?
    %b= tsr.tests_count
    - if !defined?(no_diff)
      - prev_tsr = tsr.previous_run
      -if prev_tsr && (diff = prev_tsr.tests_count.to_i - tsr.tests_count.to_i) != 0
        (
        - if diff > 0
          = "-#{diff}"
        - else
          = "+#{diff.abs}"
        )
    tests,
    %b= tsr.assertions_count
    assertions,
    = bad_value tsr.errors_count
    errors,
    = bad_value tsr.failures_count
    failures
