%h1
  = @test_suite_run.test_suite.project.name
  = '::'
  = @test_suite_run.test_suite.name
  = '@'
  = @test_suite_run.created_at

%dl.dl-horizontal
  %dt Summary
  %dd= render :partial => 'test_suite_runs/summary', locals: {tsr: @test_suite_run, no_diff: true}
  %dt Running time
  %dd= '%.3f s' % @test_suite_run.run_time.to_f

%table.table.table-hover.table-condensed
  - @test_unit_runs.group_by {|x| x.test_unit.class_name}.each do |class_name, turs|
    %tr.clean
      %td{:colspan => 4}
        %h3= class_name.gsub(/Test$/,'')
    - turs.each do |tur|
      %tr{:class => (tur.with_error? ? 'bad' : (tur.result == '.' ? 'clean' : 'info'))}
        %td
          - case tur.result
          - when '.'
            %span.label.label-success OK
          - when 'E'
            %span.label.label-important ERROR
          - when 'F'
            %span.label.label-important FAILURE
          - when 'P'
            %span.label.label-warning PENDING
          - else
            %b ???
        %td
          = tur.test_unit.name.gsub(/^test:? ?_?/,'')
        %td= '%.3f s' % tur.run_time.to_f

%h3 Console output:

%pre
  = @test_suite_run.run_log
