%tr{:class => "test_suite_run_#{tsr.id} state_#{tsr.state}"}
  %td.info
    .time
      = tsr.updated_at
    .spinner
      = image_tag 'ajax_inline2.gif'
  %td= tsr.test_suite.name
  %td.state= tsr.state
%tr{:class => "test_suite_run_#{tsr.id} details state_#{tsr.state}"}
  %td{:colspan => 3}
    %span.current_test_unit
