%h1= @project.name

.state
  %h3 Current state
  .branch_title
    .name
      = @project.vcs_branch_name
    .latest_commits
      - last_commits = @project.commits.order('committed_at DESC').limit(20).all
      - last_commits.each do |commit|
        %div{:class => "build_state #{commit.build_state} latest_commits_mini"}
          -#= commit.build_state[0..0].upcase
          &nbsp;
  %br
  - if !last_commits.empty?
    %table.grid{:style => 'width: 100%'}
      - last_commits[0..5].each_with_index do |commit, i|
        -# commit = @project.commits.order('committed_at DESC').first
        %tr{:class => "build_state #{commit.build_state}"}
          %td{:style => 'width: 20px;'}
            = image_tag commit.author.gravatar_url :size => 15
          %td
            = commit.short_description
          %td
            = commit.build_state
        - if i == 0
          - @project.test_suites.each do |ts|
            %tr
              %td
              %td
                = ts.name
              %td
                - tsr = commit.test_suite_runs.where(:test_suite_id => ts.id).first
                - if tsr
                  = tsr.build_state
                - else
                  %i pending

.about
  %h3 About project

  %table{:class => 'keyvalue nostyle', :style => 'width: 100%; float: right;'}
    %tr
      %td.key Monitored since
      %td.value= @project.created_at
    %tr
      %td.key Commits in database
      %td.value= @project.commits.count


