%ul.nav.nav-list
  - if @project
    %li.nav-header= @project.name
    %li= link_to "Project info", @project
    %li= link_to "Latest commits", project_commits_path(@project)
    %li= link_to "Statistics", stats_project_path(@project)
    %li= link_to "Latest test runs", project_test_suite_runs_path(@project)
    %li.divider
    %li
      Last build status:
      - if !@project.commits.empty? && !@project.commits.last.try(:build_state).blank?
        = build_state_label @project.commits.last.build_state
  - else
    %li.nav-header No project selected
    %li= link_to "Latest test runs", test_suite_runs_path
  %li.divider
  %li= link_to "Workers", workers_path
