- if @project
  .section= @project.name
  %ul
    %li= link_to "Project info", @project
    %li= link_to "Latest commits", project_commits_path(@project)
    %li= link_to "Statistics", stats_project_path(@project)
  %ul
    %li= link_to "Latest test runs", project_test_suite_runs_path(@project)
- else
  %ul
    %li= link_to "Latest test runs", test_suite_runs_path
