!!!
%head
  = stylesheet_link_tag 'mystyle'
  = javascript_include_tag 'application.js'
  = javascript_include_tag "http://#{Moci.config[:juggernaut_host] || request.host}:#{Moci.config[:juggernaut_port] || 8080}/application.js"
  = yield :head
%body

  #header
    .title moci
    = render :partial => '/common/top_menu.html.haml'

  #cols
    #sidebar
      = render :partial => '/common/sidebar'

    #content
      = yield
