!!!
%head
  = stylesheet_link_tag 'jquery-ui'
  = stylesheet_link_tag 'mystyle'
  = javascript_include_tag 'application.js'
  = javascript_include_tag "http://#{Moci.config[:juggernaut_host] || request.host}:#{Moci.config[:juggernaut_port] || 8080}/application.js"
  = yield :head
%body


  #header
    #account
      - if user_signed_in?
        Signed in as
        %b= current_user.email
        %br
        - if current_user.admin?
          = link_to 'admin panel', '/admin'
          |
        = link_to 'log out', destroy_user_session_path, :method => :delete
      - else
        = link_to 'log in', new_user_session_path

    .title moci

  #top_menu
    = render :partial => '/common/top_menu.html.haml'

  - if flash[:alert]
    .flash.alert= flash[:alert]

  - if flash[:notice]
    .flash.notice= flash[:notice]

  #cols
    #sidebar
      = render :partial => '/common/sidebar'

    #content
      = yield
